package partial

templ Footer() {
	<footer class="container-fluid footer bg-light py-3" style="margin-top: auto;">
		<div class="text-center">
			<p class="mb-0">&copy; 2024 LCP. All rights reserved.</p>
		</div>
	</footer>
}
