package pages

import "github.com/toastsandwich/LCP/view/layout"

templ login() {
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<div class="card p-4 mt-5">
					<h2 class="text-center">Login</h2>
					<form method="post" action="/login">
						<div class="mb-3">
							<label for="emp-id" class="visually-hidden">Employee ID</label>
							<input type="text" class="form-control" id="emp-id" name="emp-id" required/>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Password</label>
							<input type="password" class="form-control" id="password" name="password" required/>
						</div>
						<button type="submit" class="btn btn-primary w-100">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}

templ Login() {
	@layout.Base("LCP Login", login())
}
